{% extends "base.html" %}

{% block pageblock %}
<div class="container">
    <div class="login_container">
        <div class="login__block">
            <p class="settings-title">{{title}}</p>
            <form action="" method="post" enctype=multipart/form-data>
                {% if message %}
                {% if result %}
                <p class="message-success">{{message}}</p>
                {% else %}
                <p class="message-error">{{message}}</p>
                {% endif %}
                {% endif %}

                {{ form.hidden_tag() }}

                {{ form.email.label }}<br>
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}

                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}
                {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}

                <div class="submit-block">
                    <a class="link-exit btn btn-primary button-exit" href='/'>На главную</a>
                    {{ form.submit(type="submit", class="btn btn-success submit") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}