<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <div class="container header__wrapper">
        <a href="/" class="header__logo">КОТЫ</a>
        <a href="/" class="header__call"><img src="/static/img/cat_logo.png" alt="Лого"></a>
    </div>
</header>
{% block pageblock %}{% endblock %}
</body>
</html>