{% extends "base.html" %}

{% block pageblock %}
<img src="/static/img/cat_main.jpg" alt="Кот лежит" class="main-page__image">
<div class="container">
    <div class="settings__wrapper">
        <form action="GET">
            <div class="settings__container">
                <div class="custom-select" style="width:200px;">
                    <select>
                        <option value="Type 0">Порода</option>
                        {% for spec in species %}
                        <option value="{{spec}}">{{spec}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="custom-select" style="width:175px;">
                    <select>
                        <option value="0">Возраст</option>
                        <option value="1">1 месяц</option>
                        <option value="2">2 месяца</option>
                        <option value="3">3 месяца</option>
                        <option value="4">6 месяцев</option>
                        <option value="5">1 год</option>
                        <option value="6">2 года</option>
                        <option value="7">3 года и старше</option>
                    </select>
                </div>
                <div class="custom-select" style="width:150px;">
                    <select>
                        <option value="0">Пол</option>
                        <option value="1">Мужской</option>
                        <option value="2">Женский</option>
                    </select>
                </div>

                <input type="text" class="settings__input" placeholder="Введите свой запрос сюда">
            </div>
        </form>
    </div>
    <div class="cat__list">
        {% for i in range(6) %}
        <div class="cat__container">
            <div class="cat__wrapper">
                <img src="/static/img/cats/cat1.jpeg" alt="Самый классный кот" class="cat__img">
                {% if is_admin %}
                    <div class="admin__back"></div>
                    <a href="/admin/admin-edit-cat/CATID" class="admin__edit"></a>
                    <a href="/admin/admin-delete-cat/CATID" class="admin__delete"></a>
                {% endif %}
                <div class="cat__info">
                    <div>
                        <p class="cat__name">Маруся</p>
                        <p class="cat__age"><span>Возраст: </span> 64 месяца</p>
                        <p class="cat__gender"><span>Пол: </span> Женский</p>
                        <p class="cat__cost"><span>Цена: </span> 100 ₽</p>
                    </div>
                    <a href="#" class="cat__link">Больше</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination__aligner">
        <div class="pagination">
            {% if True %}
                <a href="#">&laquo;</a>
            {% endif %}
            {% for i in range(4) %}
                {% if i == 1 %}
                    <a class="active" href="#">{{i+1}}</a>
                {% else %}
                    <a href="#">{{i + 1}}</a>
                {% endif %}
            {% endfor %}
            {% if True %}
                <a href="#">&raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/select.js"></script>
{% endblock %}