{% extends "base.html" %}

{% block pageblock %}
<img src="/static/img/cat_main.jpg" alt="Кот лежит" class="main-page__image">
<div class="container">
    <div class="settings__wrapper">
        <form id="form" method="POST" action="/cat_relevant">
            <div class="settings__container">
                <div class="custom-select" style="width:200px;">
                    <select name="species">
                        <option value="Type 0">Порода</option>
                        {% for spec in species %}
                        <option value="{{spec}}">{{spec}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="custom-select" style="width:175px;">
                    <select name="age">
                        <option value="0">Возраст</option>
                        <option value="1">1 месяц</option>
                        <option value="2">2 месяца</option>
                        <option value="3">3 месяца</option>
                        <option value="4">6 месяцев</option>
                        <option value="5">1 год</option>
                        <option value="6">2 года</option>
                        <option value="7">3 года и старше</option>
                    </select>
                </div>
                <div class="custom-select" style="width:150px;">
                    <select name="gender">
                        <option value="0">Пол</option>
                        <option value="1">Мужской</option>
                        <option value="2">Женский</option>
                    </select>
                </div>

                <input type="text" id="submit" name="text" class="settings__input" placeholder="Введите свой запрос сюда">
            </div>
        </form>
    </div>
    <div class="cat__list">
        {% for cat in cats %}
        <div class="cat__container">
            <div class="cat__wrapper">
                <div class="cat__img-wrapper">
                    <img src="/static/img/{{cat.images.split('//')[0]}}" alt="Самый классный кот" class="cat__img">
                </div>
                {% if is_admin %}
                <div class="admin__back"></div>
                <a href="/admin/admin-edit-cat/{{cat.catId}}" class="admin__edit"></a>
                <a href="/admin/admin-delete-cat/{{cat.catId}}" class="admin__delete"></a>
                {% endif %}
                <div class="cat__info">
                    <div>
                        <p class="cat__name">{{cat.name}}</p>
                        <p class="cat__age"><span>Возраст: </span> {{cat.age}}</p>
                        {% if cat.gender == '0' %}
                        <p class="cat__gender"><span>Пол:</span> Не указан</p>
                        {% elif cat.gender == '1' %}
                        <p class="cat__gender"><span>Пол:</span> Мальчик</p>
                        {% elif cat.gender == '2' %}
                        <p class="cat__gender"><span>Пол:</span> Девочка</p>
                        {% endif %}
                        <p class="cat__cost"><span>Цена: </span> {{cat.price}} ₽</p>
                    </div>
                    <a href="/cat-page/{{cat.catId}}" class="cat__link">Больше</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination__aligner">
        <div class="pagination">
            {% if current_page != 1 %}
            <a href="/page/{{current_page-1}}">&laquo;</a>
            {% endif %}
            {% for i in range(pages_count) %}
            {% if i == current_page - 1 %}
            <a class="active" href="#">{{i+1}}</a>
            {% else %}
            <a href="/page/{{i+1}}">{{i + 1}}</a>
            {% endif %}
            {% endfor %}
            {% if current_page != pages_count %}
            <a href="/page/{{current_page+1}}">&raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/select.js"></script>
<script>
    document.getElementById("submit").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            document.getElementById("form").submit();
            return false;
        }
    });
</script>
{% endblock %}